In [ ]:
#Que1.

A database is an organized collection of structured information, or data, typically stored electronically in a 
computer system. 
A database is usually controlled by a database management system (DBMS).

SQL:
    These are relational databases, uses predefined structures.
    
NOSQl:
    Non relational database, these may be key-valued, docoument bases or graph based.

In [ ]:
#Que2.
DDL:
    Data definition language, which is a set of SQL commands used to define and manipulate the structure of 
    database objects such as tables, views, indexes.
    
Examples:
    
#Create table
CREATE TABLE students (
   std_id INT,
   std_name VARCHAR(50),
   std_dept VARCHAR(50),
   std_fees DECIMAL(6,1)
);


#to drop table:
DROP TABLE students;

#truncate:
TRUNCATE TABLE students;

In [ ]:
#Que3.
DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate the data stored 
in a database.

INSERT INTO students (std_id, std_name, std_dept, std_fees) 
VALUES (1, 'John Doe', 'IT', 5000.0);

UPDATE students SET std_fees = 5500.0 WHERE emp_id = 1;


DELETE FROM students WHERE emp_id = 1;

In [ ]:
#Que4.
DQL:
    data query language(it is a set of sql commands to retrieve data from database).
    
SELECT * FROM students;

this command will get all the details about students.

In [ ]:
#Que5.
Primary Key:
    A primary key is a unique identifier for each row in a table. It is used to ensure that each row is uniquely 
    identifiable and can be easily accessed when needed. The primary key can be made up of one or more columns in 
    the table, but the values in the key must be unique. 
    
Foreign Key:
    A foreign key is a field in one table that refers to the primary key in another table. It is used to establish
    a relationship between the two tables, allowing data to be connected across tables. The foreign key is used to 
    link the data in one table to the data in another table.

In [ ]:
#Que6.
Python code to connect mysql using python:
    import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

for x in mycursor:
  print(x)



cursor():The cursor object is used to execute SQL statements on the database.
execute():This method is used to execute SQL statements on the database. It takes the SQL statement as a parameter 
            and returns the result of the execution.

In [ ]:
#Que7.
From 
Join 
Where
Group by
having
select 
distinct 
order by 
limit